{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block body %}
    <div>
        <h3>{{ homePage.title }}</h3>
        {{ homePage.content }}
    </div>
    <div>
        <h3>Result from services</h3>
       {{ result }}
    </div>
{% endblock %}
