{% extends 'base.html.twig' %}

{% block title %}HTTP!{% endblock %}

{% block body %}
    <h3>HTTP</h3>
    <div class="grid">
        {% for object in request %}
            <div class="grid_item">
                <ul>
                    {% for value in object %}
                        <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
