{% extends 'base.html.twig' %}

{% block title %}Video!{% endblock %}

{% block body %}

    <h3>My Videos</h3>
    <div class="grid">
        {% for video in  showVideos %}
            <div class="grid_item">
                <h3>
                    <a href="{{ path('show_video', {'youtube_id' : video.youtubeId}) }}">
                        {{ video.title }}
                    </a>
                </h3>

                <h3> {{ video.getCategoryId.title }}</h3>

                <iframe width="420"
                        height="315"
                        src="https://www.youtube.com/embed/{{ video.youtubeId }}">
                </iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}